.antagonist-card {
    background-color: #0d0d0d;
    color: var(--color-background);
    padding: 1.5rem;
    margin: 2rem 0;

    border: 2px solid var(--color-accent-crimson);
    border-radius: 6px;

    box-shadow:
        0 8px 15px rgba(0, 0, 0, 0.8),
        0 0 15px rgba(139, 0, 0, 0.7);
}

.antagonist-card .profile-header {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-accent-crimson);
}

.antagonist-card .header-info {
    flex-grow: 1;
}

.antagonist-card .header-info h2 {
    color: var(--color-accent-gold);
    font-size: 2rem;
    margin: 0;
    text-shadow: 0 0 5px rgba(192, 178, 131, 0.8);
}

.antagonist-card .antagonist-title {
    color: var(--color-accent-crimson);
    font-weight: 700;
    font-style: italic;
    margin: 0.2rem 0 0 0;
}

.antagonist-card .character-portrait {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--color-border-dark);
}

.antagonist-card .lore-link {
    color: var(--color-accent-gold);
    text-decoration: none;
    font-family: var(--font-primary);
    text-align: right;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    border: 1px solid var(--color-accent-gold);
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.antagonist-card .lore-link:hover {
    background-color: rgba(192, 178, 131, 0.1);
}

.antagonist-card.defeated-look {
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.antagonist-card.defeated-look h2 {
    text-decoration: line-through;
    text-shadow: none;
}

.antagonist-card.defeated-look .status-tag {
    text-decoration: line-through;
}

.antagonist-card.defeated-look .character-portrait {
    filter: grayscale(100%);
    opacity: 0.8;
    transition:
        filter 0.5s,
        opacity 0.5s;
}
